{% extends 'base.html' %}

{% block content %}
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">StudyAssistant</a>
      <div class="float-right">
        <a class="btn btn-primary" href="{{ url_for('signin') }}">Sign In</a>
        <a class="btn btn-primary" href="{{ url_for('signup') }}">Sign Up</a>
      </div>
      
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container col-6 mx-auto">
      <div class="card bg-light text-dark">
        <div class="card-body">
          <!--<div class="col-xl-9">-->
            <h1 class="mb-5">Sign In</h1>
          <!--</div>-->
          <!--<div class="col-md-10 col-lg-8 col-xl-6 mx-auto">-->
              <form method="post" class="form-horizontal">
                  <div class="form-group">
                      <label for="user_email" class="control-label">Username</label>
                      <div class="col-sm-10 mx-auto">
                        <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Username (Only digits and letters are allowed)">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="user——password" class="control-label">Password</label>
                      <div class="col-sm-10 mx-auto">
                          <input type="password" class="form-control" id="user_password" name="user_password" placeholder="Password">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10 mx-auto">
                          <div class="checkbox">
                          <label>
                              <input type="checkbox"> Remember me
                          </label>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10 mx-auto">
                          <button type="submit" class="btn btn-block btn-lg btn-primary">Sign In</button>
                      </div>
                  </div>
              </form>
          <!--</div>-->
        </div><!--card body-->
        
      </div><!--card-->
    </div>
  </header>
{% endblock content %}