{% extends 'base.html' %}

{% block content %}

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">StudyAssistant</a>
      <div class="float-right">
        {% if not current_user.is_authenticated %}
        <a class="btn btn-primary" href="{{ url_for('signin') }}">Sign In</a>
        <a class="btn btn-primary" href="{{ url_for('signup') }}">Sign Up</a>
        {% endif %}
      </div>

    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <!--<div class="overlay"></div>-->
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">为你的学习提供可靠的路径规划！</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <!--<form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="输入你的邮箱/用户名">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">登录</button>
              </div>
            </div>
          </form>-->
          <h2>探索属于你的学习助手</h2>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>高效</h3>
            <p class="lead mb-0">每个知识点都有优质学习资源，方便用户使用</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>科学</h3>
            <p class="lead mb-0">根据用户不同的学习背景，选择不同的方向</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>易用</h3>
            <p class="lead mb-0">只需输入一个知识点，等待片刻</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/img/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>啦啦啦啦</h2>
          <p class="lead mb-0">对应的解释</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>噜噜噜噜</h2>
          <p class="lead mb-0">对应的解释</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/img/bg-showcase-3.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>哼哼哼哼</h2>
          <p class="lead mb-0">对应的解释</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">成员介绍</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='img/testimonials-1.jpg') }}" alt="">
            <h5>玛丽</h5>
            <p class="font-weight-light mb-0">"aaaaaaaaa"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='img/testimonials-2.jpg') }}" alt="">
            <h5>福德</h5>
            <p class="font-weight-light mb-0">"bbbbbbbbb"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{ url_for('static', filename='img/testimonials-3.jpg') }}" alt="">
            <h5>苏珊</h5>
            <p class="font-weight-light mb-0">"cccccccccc"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <!--<div class="overlay"></div>-->
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">准备好了吗？开始吧!</h2>
          {% if not current_user.is_authenticated %}
          <a href="{{ url_for('signup') }}">
          <button type="submit" class="btn btn-lg btn-primary" >
            Sign Up
          </button>
          </a>
          {% else %}
          <a href="{{ url_for('welcome') }}">
          <button type="submit" class="btn btn-lg btn-primary" >
            Welcome
          </button>
          </a>
          {% endif %}
        </div>
        <!--<div class="col-12 col-md-2">
        </div>-->
      </div>
    </div>
  </section>

{% endblock content %}