{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <!-- 引入 ECharts 文件 -->
  <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>
{% endblock head %}

{% block content %}

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('index')}}">
        {% if current_user.is_authenticated %}
        {{current_user.username}}
        {% else %}
        StudyAssistant
        {% endif %}
      </a>
      <div class="float-right col-6">
        <!--<div class="col-lg-6">-->
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Go!</button>
            </span>
          </div>
        <!--</div>-->
      </div>
      <a class="btn btn-primary" href="{{url_for('signout')}}">Log Out</a>
    </div>
  </nav>

  <!-- Testimonials -->
  <section class="testimonials bg-light">
    <div class="container">
      <h2 class="mb-5">机器学习</h2>
      <p>机器学习是一门多领域交叉学科，涉及概率论、统计学、逼近论、凸分析、算法复杂度理论等多门学科。专门研究计算机怎样模拟或实现人类的学习行为，以获取新的知识或技能，重新组织已有的知识结构使之不断改善自身的性能。
        它是人工智能的核心，是使计算机具有智能的根本途径。</p>
      
      <h2 class="mb-5">资源合集</h2>
    
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">Books</a></li>
        <li><a href="#">Courses</a></li>
        <li><a href="#">Papers</a></li>
        <li><a href="#">MOOCs</a></li>
      </ul>

      
      <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
  <div style="margin: 0 auto; border: 1px solid #ccc; padding-top: 30px;">
    <div id="main" style="width: 1200px;height:400px;"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));
  
      // 指定图表的配置项和数据
      var option = {
          title: {
              text: 'ECharts Demo'
          },
          tooltip: {},
          legend: {
              data:['热度']
          },
          xAxis: {
              data: ["情感计算","机器学习","深度学习","计算机视觉","自然语言处理","知识图谱"]
          },
          yAxis: {},
          series: [{
              name: '热度',
              type: 'bar',
              data: [5, 29, 36, 10, 10, 20]
          }]
      };
  
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    </script>
  
  </div>
  </div>
  </section>

{% endblock content %}