{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <!-- 引入 ECharts 文件 -->
  <script src="https://cdn.bootcss.com/echarts/4.4.0-rc.1/echarts.min.js"></script>
{% endblock head %}

{% block content %}

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('index')}}">
        {% if current_user.is_authenticated %}
        {{current_user.username}}
        {% else %}
        StudyAssistant
        {% endif %}
      </a>
      <div class="float-right col-6">
        <!--<div class="col-lg-6">-->
          <div class="input-group">
            <input type="text" class="form-control" name="keywords" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Go!</button>
            </span>
          </div>
        <!--</div>-->
      </div>
      <a class="btn btn-primary" href="{{url_for('signout')}}">Log Out</a>
    </div>
  </nav>

  <!-- Testimonials -->
  <section class="testimonials bg-light">
    <div class="container">
      <h2 class="mb-5">机器学习</h2>
      <p>机器学习是一门多领域交叉学科，涉及概率论、统计学、逼近论、凸分析、算法复杂度理论等多门学科。专门研究计算机怎样模拟或实现人类的学习行为，以获取新的知识或技能，重新组织已有的知识结构使之不断改善自身的性能。
        它是人工智能的核心，是使计算机具有智能的根本途径。</p>
      <br>
      <h2 class="mb-5">相关概念</h2>
    
      <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
  <div style="margin: 0 auto; border: 1px solid #ccc; padding-top: 30px;">
    <div id="main" style="width: 1200px;height:400px;"></div>
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));
  
      // 指定图表的配置项和数据
      var option = {
          title: {
              text: 'ECharts Demo'
          },
          tooltip: {},
          legend: {
              data:['热度']
          },
          xAxis: {
              data: ["情感计算","机器学习","深度学习","计算机视觉","自然语言处理","知识图谱"]
          },
          yAxis: {},
          series: [{
              name: '热度',
              type: 'bar',
              data: [5, 29, 36, 10, 10, 20]
          }]
      };
  
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    </script>
  
  </div>
  <br>

  <h2 class="mb-5">资源合集</h2>
  <div>
    <!--Nav tabs-->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#books" aria-controls="home" role="tab" data-toggle="tab">   Books   </a></li>
      <li role="presentation"><a href="#courses" role="tab" aria-controls="courses" data-toggle="tab">   Courses   </a></li>
      <li role="presentation"><a href="#papers" role="tab" aria-controls="papers" data-toggle="tab">   Papers   </a></li>
      <li role="presentation"><a href="#moocs" role="tab" aria-controls="moocs" data-toggle="tab">   MOOCs   </a></li>
    </ul>
    
    <!--Tab panes-->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="books">
        <ol>
          <li><a href="https://github.com//loveunk/Deep-learning-books/blob/master/1.%20Machine%20Leaning%20and%20Deep%20Learning/A%20First%20Course%20in%20Machine%20Learning-2012.pdf">A First Course in Machine Learning-2012.pdf</a></li>
          <li><a href="https://github.com//loveunk/Deep-learning-books/blob/master/1.%20Machine%20Leaning%20and%20Deep%20Learning/AutoML%20Machine%20Learning-Methods%2C%20Systems%2C%20Challenges-2018.pdf">AutoML Machine Learning-Methods, Systems, Challenges-2018.pdf</a></li>
          <li><a href="https://github.com//loveunk/Deep-learning-books/blob/master/1.%20Machine%20Leaning%20and%20Deep%20Learning/Building%20Machine%20Learning%20Systems%20with%20Python-2nd%20Edition-2015.pdf">Building Machine Learning Systems with Python-2nd Edition-2015.pdf</a></li>
          <li><a href="https://github.com//loveunk/Deep-learning-books/blob/master/1.%20Machine%20Leaning%20and%20Deep%20Learning/Data%20Mining%2C%20Inference%2C%20and%20Prediction-2017.pdf">Data Mining, Inference, and Prediction-2017.pdf</a></li>
          <li><a href="https://github.com//loveunk/Deep-learning-books/blob/master/1.%20Machine%20Leaning%20and%20Deep%20Learning/Data%20Science%20from%20Scratch-%20First%20Principles%20with%20Python-2015.pdf">Data Science from Scratch- First Principles with Python-2015.pdf</a></li>
          <li><a href="https://github.com//loveunk/Deep-learning-books/blob/master/1.%20Machine%20Leaning%20and%20Deep%20Learning/Deep%20Learning%20with%20Keras-2017.pdf">Deep Learning with Keras-2017.pdf</a></li>
          <li><a href="https://github.com//loveunk/Deep-learning-books/blob/master/1.%20Machine%20Leaning%20and%20Deep%20Learning/Deep%20Learning%20with%20Python%20A%20Hands-on%20Introduction-2017.pdf">Deep Learning with Python A Hands-on Introduction-2017.pdf</a></li>
          <li><a href="https://github.com//loveunk/Deep-learning-books/blob/master/1.%20Machine%20Leaning%20and%20Deep%20Learning/Deep%20Learning%20With%20Python-Develop%20Deep%20Learning%20Models%20on%20Theano%20and%20TensorFlow%20Using%20Keras-2017.pdf">Deep Learning With Python-Develop Deep Learning Models on Theano and TensorFlow Using Keras-2017.pdf</a></li>
          <li><a href="https://github.com//loveunk/Deep-learning-books/blob/master/1.%20Machine%20Leaning%20and%20Deep%20Learning/Deep%20Learning%20with%20Python-Francois_Chollet-En-2018.pdf">Deep Learning with Python-Francois_Chollet-En-2018.pdf</a></li>
          <li><a href="https://github.com//loveunk/Deep-learning-books/blob/master/1.%20Machine%20Leaning%20and%20Deep%20Learning/Deep%20Learning%20with%20Python-Francois_Chollet-%E4%B8%AD%E6%96%87-Python%E6%B7%B1%E5%BA%A6%E5%AD%A6%E4%B9%A0-2018.pdf">Deep Learning with Python-Francois_Chollet-中文-Python深度学习-2018.pdf</a></li>
        </ol>
      </div>
      <div role="tabpanel" class="tab-pane" id="courses">
        courses...
      </div>
      <div role="tabpanel" class="tab-pane" id="papers">
        papers...
      </div>
      <div role="tabpanel" class="tab-pane" id="moocs">
        moocs...
      </div>
    </div>
  </div>
    


  </div>
  </section>

{% endblock content %}